body
{
	background-color:blue;
}
h1,h2,h3,h4,h5,h6
{
	font-family:Helvetica,sans-serif;
	text-align:center;
}
h6
{
	text-align:right;
}
a
{
	color:red;
}
a.green
{
	color:green;
}
#bluelink
{
	color:blue;
}